<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hotel Service</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">Hotel Service</a>
        <nav>
            <ul class="topmenu">
                
                 <a asp-area="" asp-controller="Rooms" asp-action="ShowRoomsPage">List of rooms</a>
                 <a asp-area="" asp-controller="Rooms" asp-action="AddRoom">Add room</a>
                    
                    
                 <a asp-area="" asp-controller="ClientOrder" asp-action="SearchFreeRooms">Make order</a>
                 <a asp-area="" asp-controller="ClientOrder" asp-action="SearchClientOrders">Look orders</a>
                   
                </li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>