

@model HotelRoomModel

<link rel="stylesheet" href="~/css/fields.css" media="screen" type="text/css" />

<div id="login-form">
    <h1>New room</h1>
    <fieldset>
        <form action="/Rooms/AddRoom" method="post">
            <input type="text" name="Number" required placeholder="Number" pattern="^[a-zA-Z0-9]+$">
            <input type="text" name="PricePerDay" required placeholder="PricePerDay" pattern="^[0-9]+$">
            @Html.DropDownList("TypeComfort", Html.GetEnumSelectList(typeof(TypeComfortEnumModel)))
            @Html.DropDownList("TypeSize", Html.GetEnumSelectList(typeof(TypeSizeEnumModel)))
            <input type="submit" value="Add">
        </form>
        
    </fieldset>
</div>
