
@model HotelRoomSeachFilterModel

<link rel="stylesheet" href="~/css/fields.css" media="screen" type="text/css" />

<div id="login-form">
    <h1>Search free rooms</h1>
    <fieldset>
        <form action="/ClientOrder/SearchFreeRooms" method="post">
            @Html.DropDownList("TypeSize", Html.GetEnumSelectList(typeof(TypeSizeEnumModel)))
            @Html.DropDownList("TypeComfort", Html.GetEnumSelectList(typeof(TypeComfortEnumModel)))
            <input type="date" name="CheckInDate" required placeholder="CheckInDate">
            <input type="date" name="CheckOutDate" placeholder="CheckOutDate">
            <input type="submit" value="Search">

        </form>
        <div class="validation" asp-validation-summary="All"></div>
    </fieldset>
</div>
